@mixin boxStyle($paddingV: 0, $paddingH: 0, $shadowOpacity: 0.02) {
    padding: $paddingV $paddingH;
    background: #fff;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, $shadowOpacity);
    border-radius: 8px;
}

@font-face {
    font-family: 'dohyeon'; // 이름 선언
    src: url('../font/DoHyeon-Regular.ttf'); // 내가 저장한 경로!
}
@font-face {
    font-family: 'jua'; // 이름 선언
    src: url('../font/Jua-Regular.ttf'); // 내가 저장한 경로!
}

.character {
    &-inner {
        display: flex;
        gap: 0 50px;
        justify-content: center;
    }
    &-area {
        // display: flex;
        width: 712px;
        flex-wrap: wrap;
        justify-content: center;
    }
    &-search-area {
        margin-top: -20px;
        width: 290px;
    }
    &-error-area {
        @include boxStyle(80px, 28px);
        color: #585b6a;
        font-size: 1.8rem;
        font-weight: 300;
        text-align: center;
        width: 100%;
    }
}
// profile
.profile {
    display: flex;
    flex-direction: column;
    width: 740px;
    &-inner {
        position: relative;
        width: 100%;
        .server-box,
        .info-box {
            position: absolute;
            left: 28px;
            color: #fff;
            z-index: 2;
        }
        .server-box {
            display: flex;
            top: 23px;
            gap: 0 5px;
            font-size: 1.3rem;
            p {
                padding: 5px 7px;
                background: rgba(255, 255, 255, 0.2);
                border-radius: 6px;
            }
        }
        .info-box {
            left: 17px;
            bottom: 27px;
            .info-title {
                display: flex;
                width: 250px;
                text-align: left;
                margin-bottom: 3%;
                .sub-title {
                    flex: 1;
                    font-weight: 600;
                    text-align: center;
                    font-size: medium;
                    color: rgba(255, 255, 255, 0.8);
                }
            }
            .info-level {
                display: flex;
                width: 235px;
                text-align: center;
                margin-bottom: 3%;
                .level {
                    flex: 1;
                    font-weight: 600;
                    font-size: medium;
                    color: rgba(255, 255, 255, 0.8);
                }
            }
            .info-name {
                display: flex;
                text-align: left;
                .name {
                    flex: 1;
                    font-size: 2.5rem;
                    font-weight: 700;
                    margin-left: 10px;
                }
                .title {
                    font-size: 1.4rem;
                    font-weight: 300;
                    opacity: 0.7;
                    padding-top: 6px;
                    margin-left: 7px;
                }
            }
        }
        .img-box {
            position: relative;
            height: 280px;
            border-radius: 8px;
            background: #15181d;
            overflow: hidden;
            .effect {
                position: absolute;
                top: -80%;
                left: -20%;
                mix-blend-mode: screen;
                width: 79rem;
                height: 51rem;
                transition: all 1s ease-out 0s;
                mask-image: radial-gradient(
                    50% 50% at 50% 50%,
                    rgb(255, 255, 255) 0%,
                    rgba(255, 105, 0, 0) 100%
                );
            }
            img {
                display: block;
                height: 180%;
                margin: -6% 0 0 auto;
            }
        }
    }
    .gem {
        display: flex;
        flex-direction: row;
        // gap: 10px;
        &-inner {
            display: flex;
            flex-direction: column;
            text-align: center;
            // gap: 5px;
            .gem-info {
                // text-align: center;

                .gem-img {
                    margin-left: 5px;
                }
                .gem-text {
                    @include boxStyle(4px, 2px);
                    position: absolute;
                    display: none;
                    // border: 1px solid blue;
                    // background-color: white;
                    // margin-top: 35px;
                    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2);
                    margin-left: -30px;
                    text-align: center;
                    font-family: 'jua';
                    div {
                        margin-top: 3px;
                        font-family: 'jua';
                    }
                }
                .gem-img:hover + .gem-text {
                    display: block;
                }
            }
            .gem-name {
                font-size: 12px;
                font-family: 'jua';
            }
            .no-gem {
                margin-left: 10px;
                font-size: 12px;
                font-family: 'jua';
            }
        }
    }
    .card-setname {
        // width: 270px;
        height: 22px;
        position: absolute;
        justify-self: end;
        display: grid;
        gap: 2px;
        font-size: 13px;
        font-family: 'jua';
        font-weight: 550;
        grid-template-columns: 300px 20px;
        justify-items: end;
        margin-right: 10px;
        img {
            width: 15px;
            height: 15px;
            cursor: pointer;
            margin-top: -1px;
            margin-left: 4px;
        }
    }
    .card {
        &-inner {
            position: relative;
            display: inline-block;
            img {
                width: 80px;
                height: 110px;
            }
            .cardborders {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 112px;
                pointer-events: none;
            }
            .card-name {
                font-size: 11px;
                font-family: 'jua';
                font-weight: 550;
                margin-top: 3px;
                text-align: center;
            }
        }
    }
    .card-setinfo {
        &-inner {
            .card-setinfo-name {
                font-size: 11px;
                font-family: 'jua';
                font-weight: 550;
            }
            .card-setinfo-des {
                font-size: 11px;
                font-family: 'jua';
                font-weight: 550;
            }
        }
    }

    .skill-main {
        @include boxStyle(5px, 5px);
        &-point {
            margin-left: 5px;
        }
        &-inner {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            margin-top: 15px;
            .mainskill {
                @include boxStyle(6px, 6px);
                flex-basis: calc(33.333% - 10px);
                border: 1px solid red;
                height: 100px;
                &-info {
                    height: 30px;
                    line-height: 30px;
                    display: flex;
                    // justify-content: center;
                    align-items: center;
                    &-img {
                        width: 25px;
                        height: 25px;
                        border-radius: 50px;
                    }
                    &-name {
                        margin-left: 5px;
                    }
                    &-level {
                        margin-left: 5px;
                    }
                }
                &-tripod {
                    &-inner {
                        margin-top: 8px;
                        display: flex;
                        margin-left: 5px;
                        gap: 5px 4px;
                    }
                }
            }
        }
    }
}

.stats {
    margin-top: 15px;
    width: 30%;
    height: 280px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    &-inner {
        @include boxStyle(40px, 28px);
        box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
        align-items: flex-start;
        gap: 5px;
        color: #585b6a;
        font-size: 1.5rem;
        font-weight: 300;
        text-align: left;
        // .value {
        //     font-size: 15px;
        // }
        .stats-info {
            // flex: 1;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-content: space-around;
            // border: solid 1px red;
            width: 30%;
            p {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                gap: 5px;
                text-align: center;
                margin-bottom: 30%;
                // font-weight: 600;
                font-size: 15px;
                font-family: 'jua';
                width: 100%;
            }
            .value {
                font-family: 'jua';
            }
        }
        .sub-stats {
            // flex: 1;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-content: space-around;
            // border: solid 1px blue;
            margin-bottom: 0;
            width: 30%;
            p {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                gap: 5px;
                text-align: center;
                margin-bottom: 30%;
                // font-weight: 600;
                font-size: 15px;
                color: black;
                font-family: 'jua';
                width: 100%;
            }
            .value {
                font-family: 'jua';
            }
        }
        .ark {
            // flex: 1;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-content: space-around;
            // border: solid 1px green;
            width: 30%;
            // gap: 2px;
            margin-bottom: 0px;
            p {
                display: flex;
                flex: 1;
                flex-wrap: wrap;
                flex-direction: column;
                gap: 5px;
                margin-bottom: 30%;
                text-align: center;
                // align-items: center;
                // font-weight: 600;
                font-size: 15px;
                color: black;
                font-family: 'jua';
                width: 100%;
            }
            .value {
                font-family: 'jua';
            }
        }
        .char-stats {
            // flex: 1;
            display: flex;
            justify-content: space-around;
            width: 100%;
            p {
                display: flex;
                flex: 1;
                flex-wrap: wrap;
                flex-direction: column;
                gap: 5px;
                text-align: center;
                // font-weight: 600;
                font-size: 15px;
                color: black;
                font-family: 'jua';
                width: 100%;
            }
            .value {
                font-family: 'jua';
            }
        }
    }
    .engrav {
        @include boxStyle(20px, 18px);
        box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.1);
        .engrav-item {
            display: flex;
            align-items: center;
            gap: 10px;
            margin: 10px;
            .engravimg {
                width: 25px;
                height: 25px;
                border-radius: 15px;
            }
            .engravname {
                font-family: 'jua';
                font-size: 15px;
            }
        }
    }
}

.equip {
    width: 70%;
    margin-top: 15px;
    height: auto;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.1);

    &-inner {
        background: #fff;
        box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.02);
        padding-top: 40px;
        padding-bottom: 25px;
        padding-left: 10px;
        border-radius: 8px;
        display: flex;
        width: 100%;
        height: auto;
        text-align: left;
        gap: 0 5px;
        flex-wrap: wrap;
        .equipment {
            margin-top: 0.5rem;
            width: 48%;
            p {
                display: flex;
                align-items: center;
                width: 100%;
                column-gap: 0.5rem;
                margin-bottom: 1rem;
                margin-right: 0px;
                gap: 3px;
                img {
                    width: 4.8rem;
                    height: 56px;
                    // border-radius: 8px;
                    // background-color: transparent;
                    border-top-right-radius: 8px;
                    border-top-left-radius: 8px;
                }
                .qualityValue {
                    width: 4.8rem;
                    border-bottom-left-radius: 8px;
                    border-bottom-right-radius: 8px;
                    font-size: 12px;
                    text-align: center;
                }
                .nametag {
                    display: flex;
                    flex-direction: column;
                    // border: solid 2px red;
                    .leveltag {
                        display: flex;
                        gap: 5px;
                        .transcend-info {
                            font-size: 14px;
                            font-weight: 500;
                            font-family: 'jua';
                            .transcend-count {
                                color: rgb(215, 90, 1);
                                font-family: 'jua';
                            }
                        }
                        .level-info {
                            font-size: 13px;
                            font-weight: 500;
                            font-family: 'jua';
                            .highlevel {
                                color: rgba(0, 0, 0, 0.335);
                                text-decoration: underline;
                                text-decoration-thickness: 1.3px;
                                font-family: 'jua';
                            }
                        }
                    }
                    .equip-name {
                        font-size: 13px;
                        font-weight: 500;
                        line-height: 1.5rem;
                        margin-top: 1.5px;
                        font-family: 'jua';
                    }
                    .elixir-tap {
                        display: flex;
                        // text-align: center;
                        // align-items: center;
                        gap: 2px;
                        span {
                            margin-top: 3px;
                            font-size: 0.95rem;
                            // line-height: 5rem;
                            line-height: 1.5rem;
                            font-weight: bold;
                            // border: solid 1px red;
                            background-color: rgb(203, 213, 233);
                            border-radius: 5px;
                            padding-left: 0.5rem;
                            padding-right: 0.5rem;
                            padding-top: 0.125rem;
                            // font-family: 'jua';
                        }
                    }
                }
            }
        }
        .acc-inner {
            display: flex;
            flex-direction: column;
            width: 50%;
            p {
                display: flex;
                align-items: center;
                width: 100%;
                height: 100%;
                column-gap: 0.5rem;
                margin-bottom: 1rem;
                margin-right: 0px;
                gap: 3px;
                img {
                    width: 4.8rem;
                    height: 56px;
                    // border-radius: 8px;
                    // background-color: transparent;
                    border-top-right-radius: 8px;
                    border-top-left-radius: 8px;
                }
                .qualityValue {
                    width: 4.8rem;
                    border-bottom-left-radius: 8px;
                    border-bottom-right-radius: 8px;
                    font-size: 12px;
                    text-align: center;
                }
                .effect-info-inner {
                    display: flex;
                    gap: 2px;
                }
                .effect-info {
                    margin-top: 2px;
                    font-size: 0.95rem;
                    // line-height: 5rem;
                    line-height: 1.4rem;
                    font-weight: bold;
                    // border: solid 1px red;
                    background-color: rgb(203, 213, 233);
                    border-radius: 5px;
                    padding-left: 0.3rem;
                    padding-right: 0.15rem;
                    padding-top: 0.125rem;
                }
                .nametag {
                    .equip-name {
                        font-size: 13px;
                        font-family: 'jua';
                    }
                    .stat-info {
                        .accstat {
                            line-height: 1.8rem;
                            font-size: 1.1rem;
                            font-family: 'jua';
                        }
                    }
                    .effect-info-reduction {
                        margin-top: 2px;
                        font-size: 0.95rem;
                        // line-height: 5rem;
                        line-height: 1.4rem;
                        font-weight: bold;
                        // border: solid 1px red;
                        background-color: rgb(203, 213, 233);
                        border-radius: 5px;
                        padding-left: 0.3rem;
                        padding-right: 0.15rem;
                        padding-top: 0.125rem;
                        color: rgb(248, 31, 31);
                    }
                }
            }
        }

        .stone-info {
            .stone-inner {
                display: flex;
                gap: 2px;
                span {
                    margin-top: 5px;
                    font-size: 0.95rem;
                    // line-height: 5rem;
                    line-height: 1.4rem;
                    font-weight: bold;
                    // border: solid 1px red;
                    background-color: rgb(203, 213, 233);
                    border-radius: 5px;
                    padding-left: 0.3rem;
                    padding-right: 0.3rem;
                    padding-top: 0.125rem;
                }
                .stone-info-reduction {
                    color: rgb(248, 31, 31);
                }
            }
        }
        .bracelet-inner {
            img {
                border-radius: 8px;
            }
            .nametag {
                .braceletstat {
                    display: flex;
                    flex-direction: row;
                    span {
                        margin-top: 2px;
                        font-weight: 800;
                        margin-left: 5px;
                    }
                }
                div {
                    display: flex;
                    flex-direction: row;
                    span {
                        margin-top: 5px;
                        font-size: 0.95rem;
                        // line-height: 5rem;
                        line-height: 1.4rem;
                        font-weight: bold;
                        // border: solid 1px red;
                        background-color: rgb(203, 213, 233);
                        border-radius: 5px;
                        padding-left: 0.3rem;
                        padding-right: 0.3rem;
                        padding-top: 0.125rem;
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}
