@mixin boxStyle($paddingV: 0, $paddingH: 0, $shadowOpacity: 0.02) {
    padding: $paddingV $paddingH;
    background: #fff;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, $shadowOpacity);
    border-radius: 8px;
}

@font-face {
    font-family: 'dohyeon'; // 이름 선언
    src: url('../font/DoHyeon-Regular.ttf'); // 내가 저장한 경로!
}
@font-face {
    font-family: 'jua'; // 이름 선언
    src: url('../font/Jua-Regular.ttf'); // 내가 저장한 경로!
}

.character {
    &-inner {
        display: flex;
        gap: 0 50px;
        justify-content: center;
    }
    &-area {
        // display: flex;
        width: 712px;
        flex-wrap: wrap;
        justify-content: center;
        // order: 2;
    }
    &-search-area {
        margin-top: -20px;
        width: 290px;
        // order: 1;
    }
    &-error-area {
        @include boxStyle(80px, 28px);
        color: #585b6a;
        font-size: 1.8rem;
        font-weight: 300;
        text-align: center;
        width: 100%;
    }
}
// profile
.profile {
    display: flex;
    flex-direction: column;
    width: 740px;
    &-inner {
        position: relative;
        width: 100%;
        .server-box,
        .info-box {
            position: absolute;
            left: 28px;
            color: #fff;
            z-index: 2;
        }
        .server-box {
            display: flex;
            top: 23px;
            gap: 0 5px;
            font-size: 1.3rem;
            p {
                padding: 5px 7px;
                background: rgba(255, 255, 255, 0.2);
                border-radius: 6px;
            }
        }
        .info-box {
            left: 17px;
            bottom: 27px;
            .info-title {
                display: flex;
                width: 250px;
                text-align: left;
                margin-bottom: 3%;
                .sub-title {
                    flex: 1;
                    font-weight: 600;
                    text-align: center;
                    font-size: medium;
                    color: rgba(255, 255, 255, 0.8);
                }
            }
            .info-level {
                display: flex;
                width: 235px;
                text-align: center;
                margin-bottom: 3%;
                .level {
                    flex: 1;
                    font-weight: 600;
                    font-size: medium;
                    color: rgba(255, 255, 255, 0.8);
                }
            }
            .info-name {
                display: flex;
                text-align: left;
                .name {
                    flex: 1;
                    font-size: 2.5rem;
                    font-weight: 700;
                    margin-left: 10px;
                    &:hover {
                        text-decoration: underline;
                        text-decoration-thickness: 1px;
                    }
                    .tooltip {
                        font-size: 0.9rem;
                        font-weight: bold;
                        color: #a2a6ad;
                        cursor: pointer;
                        &:hover {
                            text-decoration: underline;
                            text-decoration-color: white;
                        }
                    }
                }
                .title {
                    font-size: 1.4rem;
                    font-weight: 300;
                    opacity: 0.7;
                    padding-top: 6px;
                    margin-left: 7px;
                }
            }
        }
        .img-box {
            position: relative;
            height: 280px;
            border-radius: 8px;
            background: #15181d;
            overflow: hidden;
            .effect {
                position: absolute;
                top: -80%;
                left: -20%;
                mix-blend-mode: screen;
                width: 79rem;
                height: 51rem;
                transition: all 1s ease-out 0s;
                mask-image: radial-gradient(
                    50% 50% at 50% 50%,
                    rgb(255, 255, 255) 0%,
                    rgba(255, 105, 0, 0) 100%
                );
            }
            img {
                display: block;
                height: 180%;
                margin: -6% 0 0 auto;
            }
        }
    }
    .gem {
        display: flex;
        flex-direction: row;
        // gap: 10px;
        &-inner {
            display: flex;
            flex-direction: column;
            text-align: center;
            // gap: 5px;
            .gem-info {
                // text-align: center;
                .gem-img {
                    width: 37px;
                    height: 37px;
                    margin-left: 5px;
                }
                .gem-text {
                    @include boxStyle(4px, 2px);
                    position: absolute;
                    display: none;
                    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2);
                    margin-left: -30px;
                    text-align: center;
                    font-family: 'jua';
                    div {
                        margin-top: 3px;
                        font-family: 'jua';
                    }
                }
                .gem-img:hover + .gem-text {
                    display: block;
                }
            }
            .gem-name {
                font-size: 12px;
                font-family: 'jua';
            }
            .no-gem {
                margin-left: 10px;
                font-size: 12px;
                font-family: 'jua';
            }
        }
    }
    .card-setname {
        width: 100%;
        height: 22px;
        position: absolute;
        // justify-self: end;
        display: grid;
        // gap: 2px;
        font-size: 13px;
        font-family: 'jua';
        font-weight: 550;
        grid-template-columns: 1fr 20px;
        justify-items: end;
        // margin-right: 10px;
        top: 4px;
        right: 11px;
        margin-top: 2px;
        img {
            width: 15px;
            height: 15px;
            cursor: pointer;
            margin-top: -1px;
            margin-left: 4px;
        }
    }
    .card {
        &-inner {
            position: relative;
            display: inline-block;
            img {
                width: 80px;
                height: 110px;
            }
            .cardborders {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 112px;
                pointer-events: none;
            }
            .card-name {
                font-size: 11px;
                font-family: 'jua';
                font-weight: 550;
                margin-top: 3px;
                text-align: center;
            }
        }
    }
    .card-setinfo {
        &-inner {
            display: grid;
            width: 512;
            gap: 20px;
            grid-template-columns: repeat(2, 130px);
            .card-setinfo-name {
                font-size: 11px;
                font-family: 'jua';
                font-weight: 550;
            }
            .card-setinfo-des {
                font-size: 11px;
                font-family: 'jua';
                font-weight: 550;
            }
        }
    }

    .skill-main {
        @include boxStyle(5px, 5px);
        padding-left: 20px;
        padding-right: 0px;
        &-set {
            display: flex;
            justify-content: space-between;
            &-title {
                display: flex;
                flex-direction: row;
                margin-left: 8px;
                &-name {
                    font-size: 15px;
                    font-family: 'jua';
                    font-weight: 500;
                }
                &-point {
                    margin-left: 5px;
                    font-size: 15px;
                    font-family: 'jua';
                    font-weight: 500;
                }
            }

            img {
                width: 15px;
                height: 15px;
                cursor: pointer;
                margin-right: 21px;
            }
        }

        &-inner {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            margin-top: 15px;
            .mainskill {
                @include boxStyle(6px, 6px, 0.1);
                flex-basis: calc(33.333% - 10px);
                // border: 1px solid red;
                height: 100px;
                &-info {
                    height: 30px;
                    line-height: 30px;
                    display: flex;
                    // justify-content: center;
                    align-items: center;
                    // gap: 3px;
                    &-img {
                        width: 25px;
                        height: 25px;
                        border-radius: 50px;
                    }
                    &-name {
                        margin-left: 5px;
                        font-size: 13px;
                        font-family: 'jua';
                        font-weight: 500;
                    }
                    &-rune {
                        width: 20px;
                        height: 20px;
                        // border: 1px solid red;
                        border-radius: 50px;
                        margin-left: auto;
                        // background-color: #b4b5b7;
                    }
                }
                &-tripod {
                    &-inner {
                        margin-top: 6px;
                        display: flex;
                        margin-left: 5px;
                        gap: 5px 4px;
                        &-level {
                            font-size: 12px;
                            font-family: 'jua';
                            font-weight: 500;
                        }
                        &-name {
                            font-size: 12px;
                            font-family: 'jua';
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
    .skill-sub {
        display: flex;
        flex-direction: row;
        position: relative;
        // width: 100%;
        // border-bottom: 1px solid #d3d3d3b5;
        margin-bottom: 15px;
        gap: 5px;
        &::after {
            content: '';
            position: absolute;
            bottom: -7px;
            left: 2%;
            width: 95%;
            height: 1px;
            background-color: #d3d3d3b5;
        }

        &-info {
            flex: 1;
            display: grid;
            // flex-direction: row;
            grid-template-columns: repeat(3, 1fr);
            flex-wrap: wrap;
            align-items: center;
            border-right: 3px dotted #d3d3d3b5;
            height: 50px;
            margin-left: 8px;
            // gap: 3px;
            // border-right-style: dotted;
            &-img {
                width: 30px;
                height: 30px;
                border-radius: 50px;
            }
            &-text {
                margin-left: -8px;
                &-level {
                    font-size: 11px;
                    font-family: 'jua';
                    font-weight: 500;
                    span {
                        font-size: 11px;
                        font-family: 'jua';
                        font-weight: 500;
                    }
                }
                &-name {
                    margin-top: 3px;
                    font-size: 12px;
                    font-family: 'jua';
                    font-weight: 500;
                }
            }

            &-detail {
                margin-left: -5px;
                margin-right: 5px;
                width: 60px;
                div {
                    display: inline-block;
                    font-size: 9px;
                    font-family: 'jua';
                    font-weight: 500;
                    border: 0.5px solid black;
                    border-radius: 11px;
                    padding: 2px 2px;
                    margin-top: 5px;
                }
            }
        }

        &-tripods {
            flex: 2;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
            border-right: 3px dotted #d3d3d3b5;
            &-inner {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 3px;
                &-img {
                    width: 27px;
                    height: 27px;
                }
                &-info {
                    &-level {
                        margin-top: 3px;
                        font-size: 11px;
                        font-family: 'jua';
                        font-weight: 500;
                        span {
                            // margin-top: 3px;
                            font-size: 11px;
                            font-family: 'jua';
                            font-weight: 500;
                        }
                    }
                    &-name {
                        margin-top: 3px;
                        font-size: 12px;
                        font-family: 'jua';
                        font-weight: 500;
                    }
                }
            }
        }
        &-subinfo {
            flex: 0.5;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            &-gem {
                display: flex;
                flex-direction: column;
                img {
                    margin-top: 5px;
                    width: 23px;
                    height: 23px;
                    border-radius: 50px;
                }
                .empty {
                    margin-top: 5px;
                    width: 23px;
                    height: 23px;
                    background-color: #cccfe0;
                    border-radius: 50px;
                }
            }
            &-rune {
                text-align: center;
                &-img {
                    margin-top: 5px;
                    width: 21.5px;
                    height: 21.5px;
                    border-radius: 50px;
                }
                &-name {
                    margin-top: 5px;
                    font-size: 11px;
                    font-family: 'jua';
                    font-weight: 500;
                }
                .empty {
                    margin-top: 5px;
                    width: 23px;
                    height: 23px;
                    background-color: #cccfe0;
                    border-radius: 50px;
                }
            }
        }
    }
}

.skill-set {
    margin-top: 10px;
    width: 70%;
    margin-left: 30.5%;
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 10px 0px;
    background: #fff;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.card-set {
    margin-top: 10px;
    width: 70%;
    position: relative;
    margin-left: 30.5%;
    display: grid;
    gap: 3px;
    padding: 10px 0px;
    background: #fff;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    grid-template-columns: repeat(6, minmax(0, 1fr));
}

.gem-set {
    margin-top: 10px;
    width: 70%;
    margin-left: 30.5%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px 0px;
    background: #fff;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.stats {
    margin-top: 15px;
    width: 30%;
    height: 280px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    &-inner {
        @include boxStyle(40px, 28px);
        box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
        align-items: flex-start;
        gap: 5px;
        color: #585b6a;
        font-size: 1.5rem;
        font-weight: 300;
        text-align: left;
        // .value {
        //     font-size: 15px;
        // }
        .stats-info {
            // flex: 1;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-content: space-around;
            // border: solid 1px red;
            width: 30%;
            p {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                gap: 5px;
                text-align: center;
                margin-bottom: 30%;
                // font-weight: 600;
                font-size: 15px;
                font-family: 'jua';
                width: 100%;
            }
            .value {
                font-family: 'jua';
            }
        }
        .sub-stats {
            // flex: 1;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-content: space-around;
            // border: solid 1px blue;
            margin-bottom: 0;
            width: 30%;
            p {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                gap: 5px;
                text-align: center;
                margin-bottom: 30%;
                // font-weight: 600;
                font-size: 15px;
                color: black;
                font-family: 'jua';
                width: 100%;
            }
            .value {
                font-family: 'jua';
            }
        }
        .ark {
            // flex: 1;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-content: space-around;
            // border: solid 1px green;
            width: 30%;
            // gap: 2px;
            margin-bottom: 0px;
            p {
                display: flex;
                flex: 1;
                flex-wrap: wrap;
                flex-direction: column;
                gap: 5px;
                margin-bottom: 30%;
                text-align: center;
                // align-items: center;
                // font-weight: 600;
                font-size: 15px;
                color: black;
                font-family: 'jua';
                width: 100%;
            }
            .value {
                font-family: 'jua';
            }
        }
        .char-stats {
            // flex: 1;
            display: flex;
            justify-content: space-around;
            width: 100%;
            p {
                display: flex;
                flex: 1;
                flex-wrap: wrap;
                flex-direction: column;
                gap: 5px;
                text-align: center;
                // font-weight: 600;
                font-size: 15px;
                color: black;
                font-family: 'jua';
                width: 100%;
            }
            .value {
                font-family: 'jua';
            }
        }
    }
    .engrav {
        @include boxStyle(20px, 18px);
        box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.1);
        .engrav-item {
            display: flex;
            align-items: center;
            gap: 10px;
            margin: 10px;
            .engravimg {
                width: 25px;
                height: 25px;
                border-radius: 15px;
            }
            .engravname {
                font-family: 'jua';
                font-size: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
                img {
                    width: 16px;
                }
                span {
                    font-family: 'jua';
                    font-size: 15px;
                    color: #7e8eeb;
                }
            }
        }
    }
}

.equip {
    width: 70%;
    margin-top: 15px;
    height: auto;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.1);

    &-inner {
        background: #fff;
        box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.02);
        padding-top: 40px;
        padding-bottom: 25px;
        padding-left: 10px;
        border-radius: 8px;
        display: flex;
        width: 100%;
        height: auto;
        text-align: left;
        gap: 0 5px;
        flex-wrap: wrap;
        .equipment {
            margin-top: 0.5rem;
            width: 48%;
            p {
                display: flex;
                align-items: center;
                width: 100%;
                column-gap: 0.5rem;
                margin-bottom: 1rem;
                margin-right: 0px;
                gap: 3px;
                img {
                    width: 4.8rem;
                    height: 56px;
                    // border-radius: 8px;
                    // background-color: transparent;
                    border-top-right-radius: 8px;
                    border-top-left-radius: 8px;
                }
                .qualityValue {
                    width: 4.8rem;
                    border-bottom-left-radius: 8px;
                    border-bottom-right-radius: 8px;
                    font-size: 12px;
                    text-align: center;
                }
                .nametag {
                    display: flex;
                    flex-direction: column;
                    // border: solid 2px red;
                    .leveltag {
                        display: flex;
                        gap: 5px;
                        .transcend-info {
                            font-size: 14px;
                            font-weight: 500;
                            font-family: 'jua';
                            .transcend-count {
                                color: rgb(215, 90, 1);
                                font-family: 'jua';
                            }
                        }
                        .level-info {
                            font-size: 13px;
                            font-weight: 500;
                            font-family: 'jua';
                            .highlevel {
                                color: rgba(0, 0, 0, 0.335);
                                text-decoration: underline;
                                text-decoration-thickness: 1.3px;
                                font-family: 'jua';
                            }
                        }
                    }
                    .equip-name {
                        font-size: 13px;
                        font-weight: 500;
                        line-height: 1.5rem;
                        margin-top: 1.5px;
                        font-family: 'jua';
                    }
                    .elixir-tap {
                        display: flex;
                        // text-align: center;
                        // align-items: center;
                        gap: 2px;
                        span {
                            margin-top: 3px;
                            font-size: 0.95rem;
                            // line-height: 5rem;
                            line-height: 1.5rem;
                            font-weight: bold;
                            // border: solid 1px red;
                            background-color: rgb(203, 213, 233);
                            border-radius: 5px;
                            padding-left: 0.5rem;
                            padding-right: 0.5rem;
                            padding-top: 0.125rem;
                            // font-family: 'jua';
                        }
                    }
                }
            }
        }
        .acc-inner {
            display: flex;
            flex-direction: column;
            width: 50%;
            p {
                display: flex;
                align-items: center;
                width: 100%;
                height: 100%;
                column-gap: 0.5rem;
                margin-bottom: 1rem;
                margin-right: 0px;
                gap: 3px;
                img {
                    width: 4.8rem;
                    height: 56px;
                    // border-radius: 8px;
                    // background-color: transparent;
                    border-top-right-radius: 8px;
                    border-top-left-radius: 8px;
                }
                .qualityValue {
                    width: 4.8rem;
                    border-bottom-left-radius: 8px;
                    border-bottom-right-radius: 8px;
                    font-size: 12px;
                    text-align: center;
                }
                .effect-info-inner {
                    display: flex;
                    gap: 2px;
                }
                .effect-info {
                    margin-top: 2px;
                    font-size: 0.95rem;
                    // line-height: 5rem;
                    line-height: 1.4rem;
                    font-weight: bold;
                    // border: solid 1px red;
                    background-color: rgb(203, 213, 233);
                    border-radius: 5px;
                    padding-left: 0.3rem;
                    padding-right: 0.15rem;
                    padding-top: 0.125rem;
                }
                .nametag {
                    .equip-name {
                        font-size: 13px;
                        font-family: 'jua';
                    }
                    .accall-info {
                        .stat-info {
                            .accstat {
                                line-height: 1.8rem;
                                font-size: 1.1rem;
                                font-family: 'jua';
                            }
                        }
                    }
                    .arkacc-info {
                        margin-left: 5px;
                        margin-top: 3px;
                        font-size: 1.1rem;
                        font-family: 'jua';
                        display: flex;
                        flex-direction: column;
                        gap: 2px;
                        span {
                            font-size: 1.1rem;
                            font-family: 'jua';
                        }
                        .stat-info {
                            display: flex;
                            flex-direction: column;
                            gap: 2px;
                            .accstat {
                                // line-height: 1.8rem;
                                font-size: 1.1rem;
                                font-family: 'jua';
                                // text-decoration: underline;
                            }
                        }
                        .engraving-info {
                            font-size: 1.1rem;
                            font-family: 'jua';
                            // text-decoration: underline;
                        }
                    }

                    .effect-info-reduction {
                        margin-top: 2px;
                        font-size: 0.95rem;
                        // line-height: 5rem;
                        line-height: 1.4rem;
                        font-weight: bold;
                        // border: solid 1px red;
                        background-color: rgb(203, 213, 233);
                        border-radius: 5px;
                        padding-left: 0.3rem;
                        padding-right: 0.15rem;
                        padding-top: 0.125rem;
                        color: rgb(248, 31, 31);
                    }
                }
            }
        }

        .stone-info {
            .stone-inner {
                display: flex;
                gap: 2px;
                span {
                    margin-top: 5px;
                    font-size: 0.95rem;
                    // line-height: 5rem;
                    line-height: 1.4rem;
                    font-weight: bold;
                    // border: solid 1px red;
                    background-color: rgb(203, 213, 233);
                    border-radius: 5px;
                    padding-left: 0.3rem;
                    padding-right: 0.3rem;
                    padding-top: 0.125rem;
                }
                .stone-info-reduction {
                    color: rgb(248, 31, 31);
                }
            }
        }
        .bracelet-inner {
            img {
                border-radius: 8px;
            }
            .nametag {
                .braceletstat {
                    display: flex;
                    flex-direction: row;
                    span {
                        margin-top: 2px;
                        font-weight: 800;
                        margin-left: 5px;
                    }
                }
                div {
                    display: flex;
                    flex-direction: row;
                    span {
                        margin-top: 5px;
                        font-size: 0.95rem;
                        line-height: 1.4rem;
                        font-weight: bold;
                        background-color: rgb(203, 213, 233);
                        border-radius: 5px;
                        padding-left: 0.3rem;
                        padding-right: 0.3rem;
                        padding-top: 0.125rem;
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}

.arkpassive {
    // @include boxStyle(4px, 2px);
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    width: 70%;
    margin-left: 30.5%;
    padding: 10px 0px;
    background: #fff;
    border-radius: 8px;
    // font-size: 12px;
    font-family: 'jua';
    font-weight: 500;
    .arkpassiveeffect {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 0.75rem;

        &-inner {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &-point {
            font-size: 15px;
            margin-bottom: 5px;
        }
        &-effect {
            display: flex;
            flex-direction: column;
            position: relative;
            height: 189px;
            div {
                display: flex;
                align-items: center;
                margin-top: 3px;
                gap: 5px;
                font-weight: 600;
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: -15px;
                    width: 1px;
                    height: 189px;
                    background-color: #d3d3d3b5;
                }
                img {
                    width: 25px;
                    border-radius: 5px;
                }
            }
        }
        .point-evolution {
            color: rgb(216, 152, 4);
        }

        .point-enlightenment {
            color: rgb(31, 147, 255);
        }

        .point-leap {
            color: rgb(51, 205, 8);
        }

        .point-default {
            color: black;
        }
    }
}

@media (max-width: 2400px) {
    .character {
        &-area {
            width: 810px;
        }
    }
    .equip-inner {
        padding-left: 20px;
    }
}

@media (max-width: 1200px) {
    .character {
        &-inner {
            gap: 0 30px;
        }
        &-area {
            width: 90%;
        }
    }

    .profile {
        .img-box {
            height: 250px;
        }
    }
}

@media (max-width: 900px) {
    .character {
        &-inner {
            flex-direction: column;
            gap: 20px;
        }
        &-area {
            width: 100%;
            order: 2;
        }
        &-search-area {
            order: 1;
        }
    }

    .profile {
        .img-box {
            height: 200px;
        }
    }

    .equip {
        .equipment {
            width: 100%;
        }
    }
}

@media (max-width: 600px) {
    .profile {
        .img-box {
            height: 150px;
        }
    }

    .equip {
        .equipment {
            width: 100%;
        }
    }

    .stats {
        .stats-info,
        .sub-stats,
        .ark,
        .char-stats {
            width: 100%;
        }
    }
}

@media (max-width: 480px) {
    body {
        width: 100%;
        padding-left: 0px;
        // padding-right: 0px;
    }
    .character {
        &-inner {
            gap: 0 20px;
        }
        &-area {
            width: 100%;
            padding: 0 10px;
        }
        &-search-area {
            margin-left: 10px;
        }
    }

    .profile {
        width: 100%;
        .server-box {
            left: 20px;
            top: 20px;
        }
        .img-box {
            height: 150px;
        }
        .info-box {
            font-size: 14px;
        }

        .equip {
            &-inner {
                padding-bottom: 10px;
                padding-top: 10px;
                .equipment {
                    width: 100%;
                    p {
                        img {
                            width: 4rem;
                            height: 40px;
                        }
                        .qualityValue {
                            width: 4rem;
                        }

                        .nametag {
                            .leveltag {
                                .level-info {
                                    .highlevel {
                                        color: rgb(215, 176, 1);
                                    }
                                }
                            }
                            .elixir-tap {
                                span {
                                    font-size: 7px;
                                }
                            }
                        }
                    }
                }
                .acc-inner {
                    width: 95%;
                    p {
                        gap: 10px;
                        img {
                            width: 4rem;
                            height: 40px;
                        }
                        .qualityValue {
                            width: 4rem;
                        }
                        .effect-info-inner {
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                        }
                        .effect-info {
                            font-size: 6px;
                        }
                        .nametag {
                            // .equip-name {
                            //     font-size: 12px;
                            // }
                            width: 100%;
                            .effect-info-reduction {
                                font-size: 6px;
                            }
                        }
                    }
                }
                .stone-info {
                    .stone-inner {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        span {
                            font-size: 6px;
                        }
                    }
                }
            }
        }
    }

    .skill-set {
        width: 100%;
        margin-left: 0px;
        .skill-main {
            padding-left: 5px;
            padding-right: 5px;
            &-inner {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }
        .skill-sub {
            display: flex;
            flex-direction: column;
            &-info {
                height: 40px;
                border: none;
                display: grid;
                grid-template-columns: 1fr 2fr 1fr;
                width: 160px;
                img {
                    width: 23px;
                    height: 23px;
                }
                &-text {
                    &-level {
                        font-size: 10px;
                        span {
                            font-size: 10px;
                        }
                    }
                    &-name {
                        font-size: 10px;
                    }
                }
                &-detail {
                    width: 50px;
                    div {
                        font-size: 7px;
                    }
                }
            }
            &-tripods {
                order: 2;
                border: none;
                display: grid;
                grid-template-columns: repeat(3, 75px);
                padding-left: 5px;
                margin-top: 9px;
                &-inner {
                    img {
                        width: 20px;
                        height: 20px;
                    }
                    &-info {
                        &-level {
                            font-size: 9px;
                            span {
                                font-size: 9px;
                            }
                        }
                        &-name {
                            font-size: 8px;
                        }
                    }
                }
            }
            &-subinfo {
                margin-right: 30px;
                order: 1;
                position: absolute;
                // top: -3px;
                right: 5px;
                display: flex;
                flex-direction: row;
                flex: 0.5 1;
                gap: 5px;
                height: 30px;
                // align-items: center;
                img {
                    width: 13px;
                    height: 13px;
                }
                .empty {
                    width: 13px;
                    height: 13px;
                }
                &-rune {
                    // padding-top: 2px;
                    // align-items: center;
                    // text-align: center;
                    &-name {
                        font-size: 8px;
                    }
                }
            }
            &::after {
                content: '';
                position: absolute;
                bottom: -7px;
                left: 2%;
                width: 95%;
                height: 1px;
                background-color: #d3d3d3b5;
            }
        }
    }

    .card-set {
        width: 100%;
        margin-left: 0px;
        .card {
            &-inner {
                img {
                    width: 50px;
                    height: 72px;
                }
                .cardborders {
                    width: 50px;
                    height: 72px;
                }
                .card-name {
                    font-size: 8px;
                }
            }
        }
        .card-setname {
            position: absolute;
            right: 3px;
            top: 4px;
        }
        .card-setinfo {
            &-inner {
                display: grid;
                width: 512;
                gap: 0px;
                grid-template-columns: 80px 1fr;
                .card-setinfo-name {
                    font-size: 8px;
                    font-family: 'jua';
                    font-weight: 550;
                }
                .card-setinfo-des {
                    font-size: 8px;
                    font-family: 'jua';
                    font-weight: 550;
                }
            }
        }
    }

    .gem-set {
        gap: 5px;
        width: 100%;
        margin-left: 0px;
        .gem {
            justify-content: flex-start;
            // flex: 1 1 calc(33.333% - 5spx);
            .gem-inner {
                .gem-info {
                    .gem-img {
                        width: 20px;
                        height: 20px;
                    }
                    .gem-text {
                        position: relative;
                        margin-left: -7px;
                        font-size: 8px;
                        z-index: 9999;
                    }
                }
                .gem-name {
                    margin-top: 2px;
                    font-size: 9px;
                }
            }
        }
    }

    .stats {
        .stats-info,
        .sub-stats,
        .ark,
        .char-stats {
            // font-size: 14px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            p {
                font-size: 13px;
            }
        }
        .engrav {
            padding: 0px;
            .engrav-item {
                // padding: 0px;
                display: grid;
                grid-template-columns: 20px 1fr;
                margin-left: 5px;
                .engravname {
                    font-family: 'jua';
                    font-size: 7px;
                    img {
                        width: 7px;
                    }
                    span {
                        font-family: 'jua';
                        font-size: 7px;
                        color: #7e8eeb;
                    }
                }
            }
        }
    }
}
