.event-inner {
    h3 {
        text-align: left;
        margin-bottom: 15px;
        font-size: 2.2rem;
        font-weight: 700;
    }

    .event-list {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;

        li {
            width: calc(33.33% - 8px); // 한 줄에 3개씩
            max-width: 330px;
            background: #fff;
            border-radius: 8px;
            overflow: hidden;

            .img-box img {
                width: 100%;
            }

            .text-box {
                padding: 12px;
                font-size: 1.3rem;
            }
        }
    }
}

@media (max-width: 768px) {
    .event-list li {
        width: calc(50% - 6px);
    }
}
