.island-inner {
    padding-top: 28px;

    h3 {
        margin: 0 auto 13px;
        font-size: 2.2rem;
        font-weight: 700;
    }

    .island-list {
        display: flex;
        flex-direction: column;
        gap: 12px;

        > div {
            &:nth-child(n + 2) {
                padding-top: 12px;
                border-top: 1px dashed #ddd;
            }
        }
    }

    .island-info {
        display: flex;
        align-items: center;

        img {
            height: 26px;
            border-radius: 3px;
        }

        .title {
            margin-left: 9px;
            font-size: 1.4rem;
            font-weight: 700;
        }
    }

    .island-time {
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
        margin-top: 8px;

        p {
            padding: 5px 0;
            width: 46px;
            font-size: 1.2rem;
            background: #eee;
            border-radius: 3px;
            text-align: center;

            &.over {
                opacity: 0.3;
            }
        }
    }

    .island-rewards {
        display: flex;
        margin-top: 5px;
        gap: 0 4px;

        li {
            position: relative;
            padding: 3px;
            background: #f6f6f6;
            border: 1px solid #eee;
            border-radius: 6px;

            img {
                width: 16px;
            }

            .hover {
                position: absolute;
                padding: 5px 6px;
                width: 600%;
                top: 90%;
                left: 30%;
                font-size: 1.3rem;
                color: #fff;
                background: rgba(0, 0, 0, 0.7);
                border-radius: 6px;
                z-index: 2;
                opacity: 0;
                visibility: hidden;
                cursor: default;
            }

            &:hover .hover {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
