.notice-inner {
    h3 {
        text-align: left;
        margin-bottom: 15px;
    }

    .notice-list {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;

        li {
            width: calc(50% - 6px); // 두 칸씩 가로 배치
            max-width: 300px;
            background: #fff;
            padding: 10px;
            border-radius: 8px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

            .title {
                font-size: 1.5rem;
                font-weight: 700;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            .date {
                margin-top: 5px;
                font-size: 1.3rem;
            }
        }
    }
}
